body {
  margin: 0;
  display: flex;
  background-image: url("/img/geometry2.png");
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em;
  background-color: #ffffff66;
}


.dashboardOptions {
  display: flex;
  flex-direction: column;
}
