body {
  margin: 0;
  display: flex;
  background-image: url("/img/geometry2.png");
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em;
  background-color: #ffffff66;
}

.signUpLink {
  color: blue;
  text-decoration: none; /* no underline */
} 

#landing {
  display: none;
}

#dashboard {
  display: none;
}

.userOptions {
  display: flex;
  flex-direction: column;
}

#transaction {
  display: none;
}

#history {
  display: none;
}

#account {
  display: none;
}