{% extends "layout.html" %}

{% block header %}
<a class="backTitle" href='dashboard.html'>
    <h2>xss pay</h2>
</a>
{% endblock %}

{% block content %}
<form class="accountForm">
  <h4>account settings</h4>
  <label>Name</label>
  <input class="u-full-width" type="text" placeholder="{{user.name}}" id="userName">
  <label>Password*</label>
  <input class="u-full-width" type="password" placeholder="top secret" id="userPassword">

  <input class="button-primary" type="submit" value="Update Account">
</form>
{% endblock %}