{% extends "layout.html" %}

{% block header %}
<h1>xss pay</h1>
{% endblock %}

{% block content %}
<form action="/" method="POST">
  <label>Username</label>
  <input class="u-full-width" type="text" placeholder="super cool user" name="username">
  <label>Password</label>
  <input class="u-full-width" type="password" placeholder="top secret" name="password">

  <input type="submit" name="login" value="log in" class="button-primary" />
  <input type="submit" name="signup" value="sign up" />
</form>
{% endblock %}