<section id='history'>
  <input class="u-full-width" type="text" placeholder="search xsspay" id="searchQuery">

  <table class="u-full-width">
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      {% for item in transactions %}
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.type}}</td>
      </tr>
      {% endfor %}

      <tr>
        <td>banana</td>
        <td>+$10.50</td>
        <td>Deposit</td>
      </tr>
      <tr>
        <td>kiwi</td>
        <td>-$20.50</td>
        <td>Withdrawal</td>
      </tr>
    </tbody>
  </table>
</section>