{% extends "layout.html" %}

{% block header %}
<a class="backTitle" href='/dashboard'>
  <h2>xss pay</h2>
</a>
{% endblock %}

{% block content %}

<div class="titleBalance">
  <h4>transaction history</h4>
  <span>balance: ${{ balance }}</span>
</div>

<form id="searchForm">
  <input class="u-full-width" type="text" placeholder="search xsspay" id="searchQuery" name='query'>
</form>

{% if query %}
<p>Search for <i>"{{query|safe}}"</i> not implemented.</p>
{% endif %}

<table class="u-full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Desc</th>
    </tr>
  </thead>
  <tbody>
    {% for item in transactions %}
    <tr>
      <td>{{item.name}}</td>
      <td>{{item.amount}}</td>
      <td>{{item.type}}</td>
      <td>{{item.description|safe}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  const node = document.getElementById("searchQuery");
  const form = document.getElementById("searchForm");
  node.addEventListener("keyup", function (event) {
    if (event.key === "Enter") {
      form.submit();
    }
  });
</script>
{% endblock %}