<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <h2>xss pay</h2>
    <section>
      <form>
        <label>Username</label>
        <input class="u-full-width" type="text" placeholder="banana apple kiwi" id="userName">
        <label>Password</label>
        <input class="u-full-width" type="password" placeholder="top secret" id="userPassword">

        <button class="button-primary">log in</button>
        <button>sign up</button>
      </form>

    </section>
  </div>
</body>

</html>