<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <h2>xss pay</h2>
    <section>
      <!-- <form class="signUpForm">
        <h4>getting started</h4>
        <label>Name</label>
        <input class="u-full-width" type="text" placeholder="banana apple kiwi" id="userName">
        <label>Email</label>
        <input class="u-full-width" type="email" placeholder="hello@mailbox.com" id="userEmail">
        <label>Password</label>
        <input class="u-full-width" type="password" placeholder="top secret" id="userPassword">
        <input class="button-primary" type="submit" value="sign up">
      </form> -->

      <form class="loginForm">
        <h4>login</h4>
        <label>Email</label>
        <input class="u-full-width" type="email" placeholder="hello@mailbox.com" id="userEmail">
        <label>Password</label>
        <input class="u-full-width" type="password" placeholder="top secret" id="userPassword">
        <input class="button-primary" type="submit" value="login">
      </form>
    </section>
  </div>
</body>

</html>