<section id='account'>
  <form class="accountForm">
      <h4>account settings</h4>
      <label>Name</label>
      <input class="u-full-width" type="text" placeholder="banana apple kiwi" id="userName">
      <label>Email</label>
      <input class="u-full-width" type="email" placeholder="hello@mailbox.com" id="userEmail">
      <label>Password*</label>
      <input class="u-full-width" type="password" placeholder="top secret" id="userPassword">

      <input class="button-primary" type="submit" value="Update Account">
    </form>
</section>