<section id='history'>
  <input class="u-full-width" type="text" placeholder="search xsspay" id="searchQuery">

  <table class="u-full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Amount</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>banana</td>
          <td>hello@hi.com</td>
          <td>+$10.50</td>
          <td>Deposit</td>
        </tr>
        <tr>
          <td>kiwi</td>
          <td>wow@fruit.com</td>
          <td>-$20.50</td>
          <td>Withdrawal</td>
        </tr>
      </tbody>
    </table>
</section>